//debug
// *{
//     border: 1px solid red;
// }

//import partial
@import "partial/modal";

//style formulaire


.wp-block-social-links.is-style-logos-only .wp-social-link svg {
  height: 3em;
  width: 3em;
}

//carousel technologie

.technoContainer {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
  to {
    transform: translateX(-200px);
  }
}


// Déclaration des variables
$nbrItem: 13;
$scrollTime: 60s;

.item {
  width: 125px;
  height: 75px;
  margin: 25px;
  background-color: var(--wp--preset--color--custom-violet);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  position: absolute;
  transform: translateX(calc(125px * #{$nbrItem}));
  animation: scrollLeft linear infinite $scrollTime;
  background-position: center;
  background-size: auto 75%;
  background-repeat: no-repeat;
  box-shadow: var(--wp--preset--shadow--sharp);
}

@for $i from 1 through $nbrItem {
  .item#{$i} {
    animation-delay: calc(#{$scrollTime} / #{$nbrItem} * (#{$nbrItem} - #{$i}) * -1);
  }
}

.html {
  background-image: url(../images/html.svg);
}

.css {
  background-image: url(../images/css.svg);
}

.php {
  background-image: url(../images/php.svg);
}

.javascript {
  background-image: url(../images/javascript.svg);
}

.sass {
  background-image: url(../images/sass.svg);
}

.wordpress {
  background-image: url(../images/wordPress.svg);
}

.github {
  background-image: url(../images/github.svg);
}

.visual {
  background-image: url(../images/visualstudio.svg);
}

.figma {
  background-image: url(../images/figma.svg);
}

.windows {
  background-image: url(../images/windows.svg);
}

.linux {
  background-image: url(../images/linux.svg);
}

.docker {
  background-image: url(../images/docker.svg);
}

.localwp {
  background-image: url(../images/local.png);
}


//background

.backgroudNoise {
  background-image: url('../images/noise.svg');
  }

.backgroundGrid {
  background-image: url('../images/grid.svg');
  background-size: 100% auto;
}

.backgroundHeader {
  background: rgb(129, 33, 208);
  background: linear-gradient(90deg, rgba(129, 33, 208, 1) 0%, rgba(41, 28, 82, 1) 100%);
}

//carte projet

.card {
  transition: all 0.3s ease;
  box-shadow: var(--wp--preset--shadow--deep);
}

.card:hover {
  transform: scale(1.05);
}

.card-button {
  background-color: var(--wp--preset--color--custom-violet);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: var(--wp--preset--color--custom-violet-fonc);
  transform: scale(1.05);
}

.card:hover {
  transform: scale(1.05);
}

//menu mobile

.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
  width: 48px;
  height: 48px;
}

.wp-block-post-title {
  text-align: center;
  padding-top: 25px;
  ;
}

.contactContainer {
  padding: 20px;
}

//cacher les elements en version mobile.

@media (max-width: 768px) {
  .hideMobile {
    display: none !important;
  }

  .contactContainer {
    padding: 10px;
  }

  //cacher google catchapa
  .grecaptcha-badge {
    visibility: hidden;
  }

}


//position doom guy

.containerDoom {
  position: relative;

  .doomGuy {
    position: absolute;
    bottom: 5%;
    left: 10%;

  }
}