<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"metadata":{"name":"Main"},"className":"backgroundGrid","style":{"spacing":{"blockGap":"0","margin":{"top":"0%","bottom":"0%"},"padding":{"right":"0%","left":"0%"}}},"gradient":"custom-hero","layout":{"type":"constrained","wideSize":"100%"}} -->
<section>
    <h1 >Oops! Page non trouvée</h1>
    <div>
    <p>Désolé, la page que vous recherchez semble introuvable.</p>
    <p>Il est possible que le lien que vous avez suivi soit rompu ou que la page ait été supprimée.</p>
    <p>Vous pouvez essayer de rechercher à nouveau ou revenir à la page d'accueil</p>
    </div>
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->