<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"metadata":{"name":"Main"},"className":"backgroundGrid","style":{"spacing":{"blockGap":"0","margin":{"top":"0%","bottom":"0%"},"padding":{"right":"0%","left":"0%"}}},"gradient":"custom-hero","layout":{"type":"constrained","wideSize":"100%"}} -->
<div class="wp-block-group backgroundGrid has-custom-hero-gradient-background has-background" style="margin-top:0%;margin-bottom:0%;padding-right:0%;padding-left:0%"><!-- wp:group {"tagName":"section","metadata":{"name":"hero"},"className":"container","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained","wideSize":"1440px"}} -->
<section class="wp-block-group container" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:columns {"verticalAlignment":"center","metadata":{"name":"hero"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"blockGap":{"top":"0"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)"><!-- wp:column {"verticalAlignment":"center","width":"30%","layout":{"type":"constrained","wideSize":"%"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:30%"><!-- wp:paragraph {"fontSize":"x-large"} -->
<p class="has-x-large-font-size"><strong>Bonjour,</strong>👋</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-titre"}}},"color":{"background":"#00000000"},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"textColor":"custom-titre","fontSize":"x-large"} -->
<h1 class="wp-block-heading has-custom-titre-color has-text-color has-background has-link-color has-x-large-font-size" style="background-color:#00000000;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">Je suis un développeur WordPress </h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"medium"} -->
<p class="has-medium-font-size" style="font-style:normal;font-weight:700">Je conçois des sites internet</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"custom-titre","iconColorValue":"#9073b6","openInNewTab":true,"size":"has-normal-icon-size","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"left"}} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://www.linkedin.com/in/jerome-audiard/","service":"linkedin","label":"Lien vers mon profil LinkedIn"} /-->

<!-- wp:social-link {"url":"https://github.com/Audiard-Jerome/","service":"github","label":"lien vers mon GitHub"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"70%","className":"containerDoom","layout":{"type":"constrained"}} -->
<div class="wp-block-column is-vertically-aligned-center containerDoom" style="flex-basis:70%"><!-- wp:image {"scale":"cover","sizeSlug":"large","linkDestination":"none","align":"center","className":"is-style-rounded hideMobile","style":{"border":{"radius":"25px"},"shadow":"var:preset|shadow|deep"}} -->
<figure class="wp-block-image aligncenter size-large has-custom-border is-style-rounded hideMobile"><img src="http://audiardjerome.local/wp-content/uploads/2024/07/IMG_20240703_162211-edited.jpg" alt="Mon bureau de développeur WordPress" style="border-radius:25px;box-shadow:var(--wp--preset--shadow--deep);object-fit:cover"/></figure>
<!-- /wp:image -->

<!-- wp:image {"lightbox":{"enabled":false},"sizeSlug":"full","linkDestination":"custom","className":"doomGuy hideMobile"} -->
<figure class="wp-block-image size-full doomGuy hideMobile"><a href="https://audiard-jerome.github.io/doom/" target="_blank" rel="noreferrer noopener"><img src="http://audiardjerome.local/wp-content/uploads/2024/07/doom.png" alt="" class=""/></a></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Groupe carrousel"},"className":"container hideMobile","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained","wideSize":"100vw","justifyContent":"center","contentSize":"100vw"}} -->
<section class="wp-block-group container hideMobile" style="padding-right:0;padding-left:0"><!-- wp:block {"ref":207} /--></section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Groupe moi-parcours"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"custom-clair","layout":{"type":"constrained","contentSize":"1440px","wideSize":"100%"}} -->
<div class="wp-block-group has-custom-clair-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)"><!-- wp:columns {"metadata":{"name":"Presentation"},"className":"container","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<div class="wp-block-columns container" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:column {"verticalAlignment":"center","width":"50%","metadata":{"name":"texte"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:50%"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<h2 class="wp-block-heading has-custom-violet-color has-text-color has-link-color">A propos de moi :</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<p class="has-custom-violet-color has-text-color has-link-color">Je m'appelle Jérôme Audiard, développeur intégrateur web à Cholet. Je viens de terminer une formation chez OpenClassrooms, où j'ai acquis des compétences en conception et développement web. Mon parcours professionnel diversifié inclut des rôles de management d'équipe et de production dans des secteurs variés, tels que l'industrie mécanique, l'alimentaire et le pharmaceutique. Fort de mon expérience en amélioration continue, maintenance industrielle et formation interne, je combine des compétences techniques et managériales pour mener à bien des projets complexes.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<p class="has-custom-violet-color has-text-color has-link-color">Bonne visite !</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"50%","metadata":{"name":"photo"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"0","right":"0"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;flex-basis:50%"><!-- wp:image {"width":"auto","height":"300px","aspectRatio":"1","scale":"cover","sizeSlug":"medium","linkDestination":"none","align":"center","className":"is-style-rounded","style":{"shadow":"var:preset|shadow|deep"}} -->
<figure class="wp-block-image aligncenter size-medium is-resized is-style-rounded"><img src="http://audiardjerome.local/wp-content/uploads/2024/07/IMG_20210304_152848-scaled-e1721378249544-300x300.jpg" alt="Portrait Audiard jérôme" class="" style="box-shadow:var(--wp--preset--shadow--deep);aspect-ratio:1;object-fit:cover;width:auto;height:300px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"metadata":{"name":"parcours académique"},"className":"container"} -->
<div class="wp-block-columns container"><!-- wp:column {"verticalAlignment":"center","width":"50%","metadata":{"name":"photo"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:50%"><!-- wp:image {"width":"auto","height":"150px","sizeSlug":"large","linkDestination":"none","align":"center","className":"hideMobile","style":{"shadow":"var:preset|shadow|deep"}} -->
<figure class="wp-block-image aligncenter size-large is-resized hideMobile"><img src="http://audiardjerome.local/wp-content/uploads/2024/07/diploma_87621.svg" alt="" class="" style="box-shadow:var(--wp--preset--shadow--deep);width:auto;height:150px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"49.99%","metadata":{"name":"texte"}} -->
<div class="wp-block-column" style="flex-basis:49.99%"><!-- wp:group {"metadata":{"name":"Mes compétences"},"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet","layout":{"type":"constrained","justifyContent":"right","wideSize":""}} -->
<div class="wp-block-group has-custom-violet-color has-text-color has-link-color" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<h2 class="wp-block-heading has-custom-violet-color has-text-color has-link-color">Mon parcours académique :</h2>
<!-- /wp:heading -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>2000 Baccalauréat scientifique Spécialité Technologie Industrielle.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>2002 Prépa Physique Technologie Sciences de l’Ingénieur.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>2003 Brevet de Technicien Supérieur en Mécanique et Automatismes Industriels.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>2024 Développeur intégrateur web.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"metadata":{"name":"parcours pro"},"className":"container"} -->
<div class="wp-block-columns container"><!-- wp:column {"verticalAlignment":"center","metadata":{"name":"texte"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<div class="wp-block-column is-vertically-aligned-center has-custom-violet-color has-text-color has-link-color"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<h2 class="wp-block-heading has-custom-violet-color has-text-color has-link-color">Mes compétences</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Grâce à la formation Développeur WordPress d'OpenClassrooms, j'ai acquis les compétences suivantes :</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li><strong>Création et Développement de Sites Web WordPress</strong> :<br>Conception et réalisation de sites web de A à Z en utilisant WordPress.<br>Personnalisation de thèmes et de plugins pour répondre aux besoins spécifiques des clients.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Optimisation et Maintenance</strong> :<br>Amélioration des performances des sites web.<br>Maintenance régulière pour assurer un fonctionnement optimal et une bonne visibilité SEO.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Gestion de Projets Web</strong> :<br>Gestion complète de projets web, incluant l'estimation des coûts et du temps, la présentation de prototypes, et l'architecture des sites.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Maîtrise de Technologies et Langages</strong> :<br>Utilisation de WordPress, PHP, HTML, CSS, Git &amp; GitHub, JavaScript, Elementor, Gutenberg, avec Responsive Design.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","metadata":{"name":"image"}} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"width":"auto","height":"150px","sizeSlug":"large","linkDestination":"none","align":"center","className":"hideMobile","style":{"shadow":"var:preset|shadow|deep"}} -->
<figure class="wp-block-image aligncenter size-large is-resized hideMobile"><img src="http://audiardjerome.local/wp-content/uploads/2024/07/meetings_meeting_table_people_work_icon_144587.svg" alt="" class="" style="box-shadow:var(--wp--preset--shadow--deep);width:auto;height:150px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"metadata":{"name":"mes Projets"},"className":"container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet","layout":{"type":"constrained"}} -->
<div class="wp-block-group container has-custom-violet-color has-text-color has-link-color" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}},"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"textColor":"custom-violet"} -->
<h2 class="wp-block-heading has-text-align-center has-custom-violet-color has-text-color has-link-color" style="margin-top:var(--wp--preset--spacing--40);margin-right:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40)">Mes dernières réalisations :</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":32,"query":{"perPage":"3","pages":0,"offset":"0","postType":"projet","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"section","enhancedPagination":true,"align":"wide","layout":{"type":"constrained","contentSize":"1024px","justifyContent":"center"}} -->
<section class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":"3","minimumColumnWidth":null}} -->
<!-- wp:group {"className":"backgroudNoise card","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"border":{"width":"0px","style":"none","radius":"15px"}},"backgroundColor":"custom-violet-tr-s-clair","layout":{"type":"constrained"}} -->
<div class="wp-block-group backgroudNoise card has-custom-violet-tr-s-clair-background-color has-background" style="border-style:none;border-width:0px;border-radius:15px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"auto","height":"","style":{"border":{"width":"0px","style":"none","radius":{"topLeft":"15px","topRight":"15px"}}}} /-->

<!-- wp:group {"metadata":{"name":"texte"},"style":{"spacing":{"padding":{"right":"0","left":"0","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--20);padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true} /-->

<!-- wp:read-more {"content":"Lire la suite","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-blanc"}}},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"border":{"radius":"5px"},"typography":{"fontSize":"16px"}},"backgroundColor":"custom-violet","textColor":"custom-blanc"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></section>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:columns {"metadata":{"name":"contact"},"className":"backgroudNoise container contactContainer","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}},"border":{"radius":"25px"},"shadow":"var:preset|shadow|deep"},"backgroundColor":"custom-violet-tr-s-clair","textColor":"custom-violet"} -->
<div class="wp-block-columns backgroudNoise container contactContainer has-custom-violet-color has-custom-violet-tr-s-clair-background-color has-text-color has-background has-link-color" id="contact" style="border-radius:25px;box-shadow:var(--wp--preset--shadow--deep)"><!-- wp:column {"verticalAlignment":"top","width":"50%","style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
<div class="wp-block-column is-vertically-aligned-top" style="padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);flex-basis:50%"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-violet"}}}},"textColor":"custom-violet"} -->
<h2 class="wp-block-heading has-custom-violet-color has-text-color has-link-color">Entrons en contact</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong>Pour toute question, collaboration ou opportunité, n'hésitez pas à me contacter via le formulaire ci-dessous. Je serai ravi de vous répondre dans les plus brefs délais.</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"50%","style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);flex-basis:50%"><!-- wp:contact-form-7/contact-form-selector {"id":93,"hash":"baa683e","title":"Formulaire de contact"} -->
<div class="wp-block-contact-form-7-contact-form-selector">[contact-form-7 id="baa683e" title="Formulaire de contact"]</div>
<!-- /wp:contact-form-7/contact-form-selector --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"width":"0px","style":{"layout":[]}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->