<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"5%","left":"5%","top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"className":"backgroundGrid","layout":{"type":"constrained","contentSize":"768px","wideSize":"1440px"}} -->
<div class="wp-block-group backgroundGrid" style="padding-top:var(--wp--preset--spacing--80);padding-right:5%;padding-bottom:var(--wp--preset--spacing--80);padding-left:5%"><!-- wp:post-featured-image /-->

<!-- wp:post-title /-->

<!-- wp:post-content /-->

<!-- wp:create-block/hello-dolly-block /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->