<!-- wp:template-part {"slug":"header","area":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Template"},"className":"backgroundGrid","style":{"spacing":{"padding":{"right":"5%","left":"5%","top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained","contentSize":"1440px","wideSize":"1440px"}} -->
<main class="wp-block-group backgroundGrid" style="padding-top:var(--wp--preset--spacing--80);padding-right:5%;padding-bottom:var(--wp--preset--spacing--80);padding-left:5%"><!-- wp:post-title {"textAlign":"center","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} /-->

<!-- wp:group {"metadata":{"name":"mockup"},"className":"mockup","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group mockup" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:jeblocs/jeblocs-mockup-laptop {"style":{"spacing":{"margin":{"right":"0","left":"0"}}}} -->
<p style="margin-right:0;margin-left:0" class="wp-block-jeblocs-jeblocs-mockup-laptop">Jeblocs Block – hello from the saved content!</p>
<!-- /wp:jeblocs/jeblocs-mockup-laptop -->

<!-- wp:jeblocs/jeblocs-mockup-smartphone {"style":{"spacing":{"margin":{"right":"0","left":"0"}}}} -->
<p style="margin-right:0;margin-left:0" class="wp-block-jeblocs-jeblocs-mockup-smartphone">Jeblocs Block – hello from the saved content!</p>
<!-- /wp:jeblocs/jeblocs-mockup-smartphone --></div>
<!-- /wp:group -->

<!-- wp:jeblocs/jeblocs-taxonomie-logo {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"blockGap":"0"}}} -->
<p style="margin-top:var(--wp--preset--spacing--40);margin-right:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)" class="wp-block-jeblocs-jeblocs-taxonomie-logo">Jeblocs Block – hello from the saved content!</p>
<!-- /wp:jeblocs/jeblocs-taxonomie-logo -->

<!-- wp:post-content {"style":{"spacing":{"blockGap":"0"}}} /-->

<!-- wp:jeblocs/jeblocs-link {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
<p style="margin-top:var(--wp--preset--spacing--40);margin-right:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)" class="wp-block-jeblocs-jeblocs-link">Jeblocs Block – hello from the saved content!</p>
<!-- /wp:jeblocs/jeblocs-link -->

<!-- wp:group {"metadata":{"name":"Navigation CPT projet"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|40","padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"textAlign":"center","level":3,"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
<h3 class="wp-block-heading has-text-align-center" style="margin-top:var(--wp--preset--spacing--40);margin-right:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40)">Autres réalisations :</h3>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"Projet précédent/suivant"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|40","margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /--></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="wp-block-heading has-text-align-center"><a href="http://portfolio.local/mes-realisations/" data-type="page" data-id="48">Retour au portfolio</a></h3>
<!-- /wp:heading --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","lock":{"move":true,"remove":true}} /-->